<div class="container-fluid">
  <div class="container">
    <div class="col w-100 event-head d-flex justify-content-center">
        <p>The <span class="half">experience</span></p>
    </div>
    <div class="row d-flex">
        <div class="col py-2 d-flex justify-content-center">
            <div class="card" >
              <p class="title w-100 d-flex justify-content-center ">The Event</p>
                <img class="card-img-top" src="../../../assets/images/event-photo.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">This event will give an emersive knowledge, look-and-learn and be inspired, which will provide you with an expansion of knowledge in color theory, visual language, makeup techniques, mentality, and branding to elevate your work to new Extent and free you to conquer your differentiation in the market.</p>
                </div>
              </div>
        </div>
        <div class="col py-2 d-flex justify-content-center">
            <div class="card" >
              <p class="title w-100 d-flex justify-content-center">Makeup Techniques</p>
                <img class="card-img-top" src="../../../assets/images/make-up.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">You will learn 02 complete makeup techniques, as well as a lot of knowledge about products, tools, tips to innovate and elevate your makeup. How to match colors, correct problematic skin, and surprise your clients.</p>
                </div>
              </div>
        </div>
    </div>
    <div class="row py-4 d-flex ">
        <div class="col py-2 d-flex justify-content-center">
            <div class="card" >
              <p class="title w-100 d-flex justify-content-center">Expert Talks</p>
                <img class="card-img-top" src="../../../assets/images/expert-talk.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">You will receive powerful success lessons from the educator, mentor, and coach Kennedy  to expand your thinking and thus enable you to conquer new levels in your professional career.</p>
                </div>
              </div>
        </div>
        <div class="col py-2 d-flex justify-content-center">
            <div class="card" >
              <p class="title w-100 d-flex justify-content-center">The Confidence</p>
                <img class="card-img-top" src="../../../assets/images/confidence.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">You will finally learn, in a simple way, how to use color theory to correct skin problems, create beautiful colorful makeup, choose the right colors for different skin types and become a free and confident artist.</p>
                </div>
              </div>
        </div>
    </div>
</div>
</div>

