<div class="container-fluid">
    <div class="container">
        <div class="col lg-6 sm-6 py-4">
            <p class="event-text text-center">Event <span class="half">agenda</span></p>
            <p class="sub-point text-center">Check the schedule of activities for the event.</p>
        </div>
        <div class="col sm-6 d-flex justify-content-center ">
            <ul class="list-group">
                <li class="list-group-item">CHECK-IN <span> 9:00 am</span></li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
        </div>
    </div>
</div>
