<div class="container-fluid">
    <div class="container">
        <div class="col lg-6 sm-6 py-4">
            <p class="event-text text-center">Event <span class="half">agenda</span></p>
            <p class="sub-point text-center">Check the schedule of activities for the event.</p>
        </div>
        <div class="col sm-6  py-4 ">
            <ul class="list-group schedule-list text-center">
                <li class="list-group-item">CHECK-IN and Registration <br><span class="half"> 9:00 am - 9:30 am</span></li>
                <li class="list-group-item">Breakfast <br><span class="half">9:30 am - 10:00 am</span></li>
                <li class="list-group-item">1st look <br><span class="half">10:00 am - 1:00 pm</span></li>
                <li class="list-group-item">Award Show <br><span class="half">1:00 pm</span></li>
                <li class="list-group-item">Lunch <br><span class="half">1:30 pm - 2:15 pm</span></li>
                <li class="list-group-item">Second look <br><span class="half">2:30 pm - 5:30 pm</span></li>
                <li class="list-group-item">Certificate Distribution <br><span class="half">5:30 pm - 6:30 pm</span></li>
              </ul>
        </div>
    </div>
</div>
