.container-fluid{
    padding-top: 70px;
}
@media screen and (max-width: 768px) {

    /* Your CSS styles for small screens here */
    .container-fluid{
        padding: 40px 0px 40px;
    }
    .banner-caption{
        top: 12%;
        left: -12%;
    }
    .element{
        font-family: "Manrope", sans-serif;
        position: absolute;
        z-index: 1;
        top: 7%;
        left: 11%;
        color: #585858;
    }
    .date-event{
        width: 38px;
    fill: #002fff;
    }
    .banner-text{
        font-size: 30px;
        font-family: "Manrope", sans-serif;
        font-weight: 400;
        position: inherit;
        z-index: 1;
        // text-shadow: 0 15px 15px rgb(39 39 39 / 30%);
        text-align: center;
        padding: 20px;
        text-shadow: 1px 1px 2px black;
    }
    
    .india-flag img{
        height: 50px;
        width: auto;
        -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    
    }
    .sub-text{
        font-size: 20px;
        font-weight: 100;
        color: grey;
        text-shadow: none;
        text-align: center;
        width: 100%;
    }
    .join-but{
        z-index: 1;
        position: absolute;
        top: 60%;
        left: 6%;
    }
    .city-heading {
        font-family: "Manrope", sans-serif;
    background: url("../../../assets/images/bg2.jpg");
    -webkit-background-clip: text;
    background-clip: text;
    background-size: contain;
    width: 100%;
    text-align: center;
    color: transparent;
    font-weight: 900;
    font-size: 40px;
    text-shadow: 0 0 5px rgb(0 0 0 / 5%), 0 10px 10px rgb(0 0 0 / 20%), 0 20px 20px rgb(0 0 0 / 30%);
    }
  }
  
  /* Styles for screens between 768px and 992px (typical tablets) */
  @media screen and (min-width: 768px) and (max-width: 992px) {
    /* Your CSS styles for medium screens here */
    .banner-caption{
        top: 18%;
        left: -17%;
    }
    .element{
        font-family: "Manrope", sans-serif;
        position: absolute;
        z-index: 1;
        top: 11%;
        left: 17%;
        color: #585858;
    }
    .date-event{
        width: 50px;
        fill: rgb(0, 47, 255);
    }
    .banner-text{
        font-size: 35px;
        font-family: "Manrope", sans-serif;
        font-weight: 400;
        position: inherit;
        z-index: 1;
        text-shadow: 0 15px 15px rgb(39 39 39 / 30%);
        text-align: center;
        padding: 20px;
    }
    
    .india-flag img{
        height: 90px;
        width: auto;
        -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    
    }
    .sub-text{
        font-size: 20px;
        font-weight: 100;
        color: grey;
        text-shadow: none;
        text-align: center;
        width: 100%;
    }
    .join-but{
        z-index: 1;
        position: absolute;
        top: 60%;
        left: 6%;
    }
    .city-heading {
        font-family: "Manrope", sans-serif;
    background: url("../../../assets/images/bg2.jpg");
    -webkit-background-clip: text;
    background-clip: text;
    background-size: contain;
    width: 100%;
    text-align: center;
    color: transparent;
    font-weight: 900;
    font-size: 70px;
    text-shadow: 0 0 5px rgb(0 0 0 / 5%), 0 10px 10px rgb(0 0 0 / 20%), 0 20px 20px rgb(0 0 0 / 30%);
    }
  }
  
  /* Styles for screens between 992px and 1200px (typical desktops) */
  @media screen and (min-width: 992px) and (max-width: 1200px) {
    /* Your CSS styles for large screens here */
    .banner-caption{
        top: 12%;
        left: -28%;
    }
    .element{
        font-family: 'Manrope', sans-serif;
        position: absolute;
        z-index: 1;
        top: 8%;
        left: 8%;
        color: #585858;
    }
    .date-event{
        width: 50px;
        fill: rgb(0, 47, 255);
    }
    .banner-text{
        font-size: 35px;
        font-family: 'Manrope', sans-serif;
        font-weight: 400;
        position: absolute;
        z-index: 1;
        top: 44%;
        left: 8%;
        // text-shadow: 0 15px 15px rgba(39, 39, 39, 0.3);
        text-shadow: 1px 1px 2px black;
    }
    
    .india-flag img{
        height: 90px;
        width: auto;
        -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    
    }
    .sub-text{
        font-size: 24px;
        font-weight: 100;
        width: 25%;
        color: grey;
        text-shadow: none;
    }
    .join-but{
        z-index: 1;
        position: absolute;
        top: 60%;
        left: 6%;
    }
    .city-heading {
        font-family: 'Manrope', sans-serif;
        background: url("../../../assets/images/bg2.jpg");
          -webkit-background-clip: text;
          background-clip: text;
        background-size: contain;
        width: 100%;
        text-align: center;
        color: transparent;
        font-weight: 900;
        font-size: 100px;
        text-shadow: 
                         0 0 5px rgba(0,0,0,.05),
                      0 10px 10px rgba(0,0,0,.2),
                      0 20px 20px rgba(0,0,0,.3);
    }
  }
  
  /* Styles for screens 1200px and above (typical large desktops) */
  @media screen and (min-width: 1200px){
    /* Your CSS styles for extra-large screens here */
    .banner-caption{
        top: 12%;
        left: -28%;
    }
    .element{
        font-family: 'Manrope', sans-serif;
        position: absolute;
        z-index: 1;
        top: 8%;
        left: 8%;
        color: #585858;
    }
    .date-event{
        width: 50px;
        fill: rgb(0, 47, 255);
    }
    .banner-text{
        font-size: 35px;
        font-family: 'Manrope', sans-serif;
        font-weight: 400;
        position: absolute;
        z-index: 1;
        top: 44%;
        left: 8%;
        // text-shadow: 0 15px 15px rgba(39, 39, 39, 0.3);
        text-shadow: 1px 1px 2px black;
    }
    
    .india-flag img{
        height: 90px;
        width: auto;
        -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    
    }
    .sub-text{
        font-size: 24px;
        font-weight: 100;
        width: 25%;
        color: grey;
        text-shadow: none;
    }
    .join-but{
        z-index: 1;
        position: absolute;
        top: 60%;
        left: 6%;
    }
    .city-heading {
        font-family: 'Manrope', sans-serif;
        background: url("../../../assets/images/bg2.jpg");
          -webkit-background-clip: text;
          background-clip: text;
        background-size: contain;
        width: 100%;
        text-align: center;
        color: transparent;
        font-weight: 900;
        font-size: 100px;
        text-shadow: 
                         0 0 5px rgba(0,0,0,.05),
                      0 10px 10px rgba(0,0,0,.2),
                      0 20px 20px rgba(0,0,0,.3);
    }
  }

.half{
    font-family: 'Manrope', sans-serif;
    color: rgb(0, 47, 255); 
}
.button-caption{
    font-family: 'Roboto';
    font-weight: 600;
    color: black;
}