
.heading{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    background: linear-gradient(to right, #c9dcf075, #021b79cf);
}
.banner-caption{
    font-family: 'Raleway', sans-serif;
    line-height: 1;
    top: 20%;
}
.button-caption{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: black;
}