<div class="container-fluid">
    <div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel" *ngIf="images">
        <div class="carousel-inner">
          <div class="carousel-item active"> 
            <img [src]="images[0]" class="d-block w-100" alt="...">
          </div>
        </div>
        <div class="col w-100 d-flex justify-content-center align-items-center caption py-2 ">
			<h2 class="head-point h1">Class <span class="half">Differntials</span></h2> 
		</div>
    <div class="col d-flex justify-content-center align-items-center">
      <ul class="element-points">
        <li> Class rich in different technique</li>
        <li> Deep color theory knowledge</li>
        <li> Problematic skin knowledge</li>
        <li> Mentorship during the event</li>
        <li> Internationally recognized teacher</li>
        <li> Community engagement</li>
        <li> Affordable pricing</li>
    </ul>
    </div>
  </div>
