.banner-cap{
    font-family: 'Manrope' sans-serif;
}
.artist-ques{
    font-family: 'Manrope' sans-serif;
    font-weight: 400;
    position: absolute;
    z-index: 1;
    top: 20%;
    left: 8%; 
    color: #002fff99;
    font-size: 50px;
}
.artist-name{
    font-family: 'Manrope' sans-serif;
    font-weight: 500;
    position: absolute;
    z-index: 1;
    top: 29%;
    left: 8%;
    color: #000;
    font-size: 33px;
}
.half{
    font-family: 'Manrope' sans-serif;
    color: #c3037f;
}
.about-art{
    font-family: 'Manrope' sans-serif;
    position: absolute;
    z-index: 1;
    top: 39%;
    left: 8%;
    color: #000;
    font-size: 23px;
    width: 30%;
}
