<div class="container-fluid">
    <div id="carouselExampleControls" class="carousel slide py-3" data-bs-ride="carousel" *ngIf="images">
        <div class="carousel-inner">
          <div class="carousel-item active"> 
            <img [src]="images[0]" class="d-block w-100" alt="...">
          </div>
        </div>
        <div class="banner-caption carousel-caption h2 py-2">
			<h2 class="py-2">Shop By latest and trending brands.</h2>
			<button class="button-caption bg-danger rounded align-items-center justify-content-center h4">Shop Now!</button>
		</div>
      </div>
</div>
